html {
    height: 100%;
}
    body{
        background-image: url("https://www.desktopbackground.org/download/o/2010/04/11/169_wallpapers-nba-logo_1920x1200_h.jpg");
        
        background-position: center center ;
        
        background-size : cover ;
}
div {
    background-color: beige;
}
